body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(235, 235, 235);

}

#calculator{
    font-family: Arial,  sans-serif;
    background-color: rgb(33, 33, 33);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    font-size: 5rem;
    text-align: left;
    background-color: rgb(52, 52, 52);
    color: white;
    padding:0 20px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: rgb(87, 87, 87);
}

button:active{
    background-color: rgb(115, 115, 115);
}

.operator-btn{
    background-color: rgb(255, 144, 18);
}

.operator-btn:hover{
    background-color: rgb(255, 163, 58);

}
.operator-btn:active{
    background-color: rgb(255, 180, 94);

}